
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}


.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden; /* Ensures raindrops stay within the container */
}

.raindrop {
  background-color: #00ff73;
  width: 2px;
  height: 15px;
  position: absolute;
  bottom: 100%;
  animation: fall 1.5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}

.centered-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 100px;
  text-align: center;
  color: rgb(0, 255, 106);
  margin-top: 0px;
  margin-bottom: 0px;
}

.centered-heading2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

.customad {
  font-size: 5px;
  width: 350px;
  height: 160px;
  border-radius: 10px;
  box-shadow: #00ff73, 20px;
  background-color: #00ff73;
  color: whitesmoke;
}

.button {
  background-color: rgb(0, 255, 106);
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}
